spring:
  datasource:
    url: jdbc:mysql://localhost:3306/xseed
    username: root
    password: admin
    driver-class-name: com.mysql.cj.jdbc.Driver
  liquibase:
    change-log: classpath:config/liquibase/master.xml
    enabled: true
  jpa:
    properties:
      hibernate:
        format_sql: true
    show-sql: true
    #hibernate:
    #  ddl-auto: validate

  mail:
    host: smtp.gmail.com
    port: 587
    username: humarchive1@gmail.com
    password: iwygrxalozkhdwcx
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    liquibase: DEBUG
